@import '~antd/dist/antd.css';
.App .ant-spin {
    min-width: 100%;
}
.App .login {
    width: 80%;
}
#light {
    background-color: #fff;
}
#light h3{
    color: #495057;
}

#dark {
    background-color: #495057;
    color: #fafafa;
}
#dark h3{
    color: #fafafa;
}
#dark .ant-table-tbody > tr > td {
    background-color: #495057;
}

#dark .ant-table-thead > tr > th {
    background-color: #0f4b68;
}

#dark .ant-card {
    background-color: #0f4b68;
}
#dark .ant-card-head {
    color: #fafafa;
}
#dark .ant-card-meta-description {
    color: #fafafa;
}


#root {
    height: 100%;
    width: 100%;
    padding: 0 2%;
}

.navbar {
    height: 70px;
    width: 95vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 50px;
}

.toolbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.icon {
    margin: 0 10px;
}

.subHeader {
    display: inline-flex;
    min-width: 100%;
    align-items: baseline;
}

.subHeader div {
    width: 85%;
}